# Titanic Dataset

## Describe

| Total | Positive | Attributes | Normalized |
|:-----:|:--------:|:----------:|:----------:|
|  2201 |  32.3%   |     3      |     Yes    |

In [4]:
from utils.dataloader import DataLoader

DataLoader('titanic').df.describe()

            target             1             2             3
count  2201.000000  2.201000e+03  2.201000e+03  2.201000e+03
mean      0.323035  5.245797e-09  6.542481e-09  2.180827e-09
std       0.467742  1.000000e+00  1.000000e+00  1.000000e+00
min       0.000000 -1.866515e+00 -2.282095e-01 -1.918673e+00
25%       0.000000 -9.225355e-01 -2.282095e-01  5.209568e-01
50%       0.000000  2.144434e-02 -2.282095e-01  5.209568e-01
75%       1.000000  9.654242e-01 -2.282095e-01  5.209568e-01
max       1.000000  9.654242e-01  4.379948e+00  5.209568e-01